
.select-btn,
li {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.wrapper.active .content {
    display: block;

}








.options li {
    height: 40px;
}

.options li:hover,
li.selected {
    border-radius: 5px;
    background: #f2f2f2;
}